<header class="navbar">
  <div class="logo">
    <div class="logo-text">
      <img src="imgs/icon-512.png" alt="Logo" class="logo-image" />
      <span class="logo-text">
        <span class="word">Moiz</span>
        <span class="word">Sultan</span>
        <span class="word">Dev</span>
      </span>
    </div>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
    </ul>
  </nav>
</header>
